{{ partial "header.html" . }}

<main>
{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{if not .IsHome }}
<ul>
  {{ $pages := .Pages }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}

{{if .IsHome }}
<div id = "posts">
  {{ range first 3 (where (where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "=" true) }}
  <div class = "list-item">
    <a href="{{ .Page.RelPermalink }}"><h2>{{ .Page.Title }}</h2></a>
    <p>{{ .Params.description }}</p>
    <div class = "meta">
      <i class="fa fa-calendar-alt" role="presentation" aria-label="calendar-alt icon"></i>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      <br />
      <i class="fa fa-tags" role="presentation" aria-label="tags icon"></i>
      {{ range .Params.tags }}
        <a href="tags/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
  </div>
  {{ end }}
{{ end }}


</main>

{{ partial "footer.html" . }}
