:root {
  --blue: #4056A1;
  --white: #ffffff;
  --bground: #EFE2BA;
  --red: #F13C20;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

.column {
  float: left;
  width: 50%;
}

a:link {
  color: var(--red);
}

a:visited {
  color: var(--red);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.fa {
  color: var(--blue);
  font-size: 36px;
}

.fab {
  color: var(--blue);
  font-size: 36px;
}

#contact {
  background: var(--bground);
  padding: 15px;
  border-radius: 10px;
  line-height: 2em;
  text-align: right;
}
#contact a {
  text-decoration: none;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.menu a {
  text-decoration: none;
  background: ;
  padding: 6px;
  border-radius: 5px;
}
.article-meta {
  text-decoration: none;
  background: var(--bground);
  padding: 20px;
  border-radius: 10px;
}
.author {
  text-align: right;
  line-height: 0.5em;
}
.date{
  text-align: right;
}
.menu, footer { text-align: center; }
.title {
  font-size: 1.3em;
  line-height: 1.3em;
}
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
